<p style="color: green"><%= notice %></p>

<%= render "article", article: @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <div style="margin-top: 5rem;">
    <%= button_to "Destroy this article", article_path(@article), method: :delete %>
  </div>
</div>
