<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= form_with(model: @post_form, url: post_path(@post_dto.id), scope: :post, method: :put) do |form| %>
  <%= render "form", post: @post_form, form: form %>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this post", post_path(@post_dto.id) %> |
  <%= link_to "Back to posts", posts_path %>
</div>
